CodilityTraining/obj/Debug/netcoreapp2.0/CodilityTraining.pdb
CodilityTraining/obj/Debug/netcoreapp2.0/CodilityTraining.dll
CodilityTraining/bin/Debug/netcoreapp2.0/CodilityTraining.pdb
CodilityTraining/bin/Debug/netcoreapp2.0/CodilityTraining.dll
